<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>morphing</title>
  </head>
  <body>
    <script src="/three.min.js"></script>
    <script src="/dat.gui.min.js"></script>
    <script src="/mousetrap.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
